<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <!-- Make the app behave more like a native app -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width, height=device-height" />

    <!-- Bootstrap styles -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" media="screen" />
    <link href="css/sisad.css" rel="stylesheet" media="screen" />

    <title>SISAD</title>
</head>
<body>

<!-- Every application needs a topbar, right? -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">SISAD</a>
    </div>
</nav>

<!-- Actual content of the application hosted here -->
<div class="container">
    <div id="page-container"></div>
</div>

<!-- The logger template -->
<script type="text/template" id="logger-template">
    <p><%= data %></p>
</script>

<!-- The connection page template -->
<script type="text/template" id="connection-template">
    <!-- On and Off buttons -->
    <div class="row">
        <div class="col-xs-6">
            <button id="btn-bt-on" type="button" class="btn btn-success btn-lg btn-block btn-bt-on" disabled>
                On
            </button>
        </div>
        <div class="col-xs-6">
            <button id="btn-bt-off" type="button" class="btn btn-danger btn-lg btn-block btn-bt-off" disabled>
                Off
            </button>
        </div>
    </div>

    <!-- Discovery button -->
    <div class="row" style="margin-top:16px;">
        <div class="col-md-12">
            <button id="btn-bt-discover" type="button" class="btn btn-info btn-lg btn-block btn-bt-discover" data-loading-text="Discovering..." disabled>
                <span class="glyphicon glyphicon-eye-open"></span> Start Discovery
            </button>
        </div>
    </div>

    <!-- The found devices appear inside this div -->
    <div id="list-devices"></div>

    <!-- The view for the logger -->
    <div class="logger"></div>

</script>

<!-- The device list item template -->
<script type="text/template" id="item-template">
    <div class='panel panel-default' style='margin-top:16px;'>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-xs-6'><b><%= name %></b></div>
                <div class='col-xs-6'>
                    <% if(isConnected) { %>
                    <button type='button' class='btn btn-danger btn-block btn-bt btn-bt-disconnect'>
                        <span class='glyphicon glyphicon-remove'></span> Disconnect
                    </button>
                    <% } else { %>
                    <button type='button' class='btn btn-default btn-block btn-bt btn-bt-connect' data-loading-text='Connecting...' disabled>
                        <span class='glyphicon glyphicon-transfer'></span> Connect
                    </button>
                    <% } %>
                </div>
            </div>
            <% if(isConnected) { %>
            <div class='row'>
                <div class='col-xs-12'>
                    <button type='button' class='btn btn-info btn-block btn-bt-login'>
                        <span class='glyphicon glyphicon-arrow-right'></span> Login
                    </button>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</script>

<!-- The login page template -->
<script type="text/template" id="login-template">
    <div class="form-group">
        <label>User</label>
        <input type="text" class="form-control username"  value="admin" placeholder="User">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control password"  value="12345" placeholder="Password">
    </div>
    <button type="button" class="btn btn-success btn-block btn-login">
        Login
    </button>

    <!-- The view for the logger -->
    <div class="logger"></div>
</script>

<!-- The control page template -->
<script type="text/template" id="control-template">
    <div class="row">
        <div class="col-xs-8">
            <h4>
                Hello, <%= user.username %>!
            </h4>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-block btn-success btn-logout">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default panel-body">
                <h4>Temperature<br><%= temperature %>°</h4>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default panel-body">
                <h4>Humidity<br><%= humidity %>%</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <label>Lock State</label>
        </div>
        <div class="col-xs-5">
            <input type="checkbox" id="chk-lock-opened" checked>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <label>Light Activation</label>
        </div>
        <div class="col-xs-5">
            <input type="checkbox" id="chk-light-enabled" checked>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-info btn-lg btn-block btn-refresh-state">
                <span class="glyphicon glyphicon-refresh"></span> Refresh State
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="#/users/<%= user.username %>" type="button" class="btn btn-info btn-lg btn-block btn-refresh-state">
                <span class="glyphicon glyphicon-user"></span> Users
            </a>
        </div>
    </div>

    <!-- The view for the logger -->
    <div class="logger"></div>
</script>

<!-- The user list item template -->
<script type="text/template" id="user-item-template">
    <div class="col-xs-12">
        <div class='panel panel-default' style='margin-top:16px;'>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-xs-8'><b><%= username %></b></div>
                    <div class='col-xs-4'>
                        <button type='button' class='btn btn-danger btn-block btn-bt btn-remove-user'>
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- The user list template -->
<script type="text/template" id="user-list-template">
    <div class="row user-item-container"></div>

    <div class='row'>
        <div class="col-xs-12">
            <div class="new-user">
                <div class="form-group">
                    <label>User</label>
                    <input type="text" class="form-control username"  value="pepe" placeholder="User">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control password"  value="4321" placeholder="Password">
                </div>
            </div>
            <button type='button' class='btn btn-success btn-block btn-lg btn-add-user'>
                <span class='glyphicon glyphicon-plus'></span> Add user
            </button>
        </div>
    </div>
    <!-- The view for the logger -->
    <div class="logger"></div>
</script>


<!-- Our precious libraries -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/bootstrap-switch.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/layoutmanager/backbone.layoutmanager.js"></script>

<script src="cordova.js"></script>
<script src="bluetooth.js"></script>

<!-- Basically our whole app -->
<script src="js/main.js"></script>
<script src="js/model/control-model.js"></script>
<script src="js/view/control-view.js"></script>
<script src="js/model/communication.js"></script>
<script src="js/model/user-model.js"></script>
<script src="js/view/user-view.js"></script>
<script src="js/model/bt-manager.js"></script>
<script src="js/view/connection-view.js"></script>
<script src="js/model/logger-model.js"></script>
<script src="js/view/logger-view.js"></script>
<script src="js/view/list-user-view.js"></script>
<script src="js/controller/router.js"></script>

</body>
</html>